html{
    height: 100%;
}

body{
    min-width: 800px;
    min-height: 800px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: gray;
}

#mode{
    position: absolute;
    font-size: 2em;
    padding-left: 20px;
}

#mode_text{
    margin-top: 0px;
    color: aliceblue;
}

.top_buttons{
    position: absolute;
    font-size: x-large;
}

.hidden{
    display: none;
}

.entry_tData{
    text-align: center;
    position: relative;
}

#entry{
    posistion: relative;
    width: 300px;
    height: 80px;
    background-color: aliceblue;
    border-radius: 25px;
    text-align: center;
}

#entryText{
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
}

#animal_table{
    background-color: black;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    width: 80%;
}

.tData{
    text-align: center;
    background-color: #6c9fff;
    position: relative;
}


img{
    padding-bottom: 2%;
}

.allButtons{
    position: absolute;
    font-size: 2em;
}

.lengthButton{
    bottom: 0;
    width: 48.5%;
    margin: 1%;
}

.text{
    font-family: Tahoma;
}

.left{
    left:0;
}

.right{
    right:0;
}